html,
body {
    margin: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: #4a90e2;
    color: white;
    padding: 20px;
    text-align: center;
    height: 230px; /* 고정 높이 */
    box-sizing: border-box;
    position: relative;
}


.weather-icon-container {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-icon-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}


header .temperature {
    font-size: 48px;
    font-weight: bold;
}

header .date {
    margin-top: 10px;
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    gap: 10px;
    flex-wrap: wrap;
}

nav select,
nav button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #4a90e2;
    border-radius: 5px;
    cursor: pointer;
}

nav button:hover {
    background-color: #4a90e2;
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
}

.button-container {
    flex: 0 0 auto;
}

.big-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2열 그리드 */
    gap: 20px;
    justify-items: center;
    width: 100%;
}

.card {
    width: 100%;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}
.day-selector {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
    flex-wrap: wrap;
}

