<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>대전 날씨</title>
</head>
<body>
<script src="/script.js"></script>
<header>
  <h1></h1>
  <p></p>
  <div class="temperature"></div>
</header>

<nav>
  <select id="styleSelect">
    <option value="casual">스타일: 캐주얼</option>
    <option value="minimal">스타일: 미니멀</option>
    <option value="formal">스타일: 포멀</option>
  </select>
  <select id="sexSelect">
    <option value="woman">여성</option>
    <option value="man">남성</option>
  </select>
  <select id="placeNumberSelect">
    <option value="90">속초시</option>
    <option value="101">춘천시</option>
    <option value="105">강릉시</option>
    <option value="106">동해시</option>
    <option value="108">서울시</option>
    <option value="112">인천시</option>
    <option value="114">원주시</option>
    <option value="119">수원시</option>
    <option value="127">충주시</option>
    <option value="131">청주시</option>
    <option value="133">대전시</option>
    <option value="136">안동시</option>
    <option value="137">상주시</option>
    <option value="138">포항시</option>
    <option value="140">군산시</option>
    <option value="143">대구시</option>
    <option value="146">전주시</option>
    <option value="152">울산시</option>
    <option value="155">창원시</option>
    <option value="156">광주시</option>
    <option value="159">부산시</option>
    <option value="162">통영시</option>
    <option value="165">목포시</option>
    <option value="168">여수시</option>
    <option value="184">제주시</option>
    <option value="192">진주시</option>
    <option value="202">양평시</option>
    <option value="203">이천시</option>
    <option value="221">제천시</option>
    <option value="232">천안시</option>
    <option value="239">세종시</option>
    <option value="253">김해시</option>
    <option value="257">양산시</option>
    <option value="266">광양시</option>
    <option value="272">영주시</option>
    <option value="273">문경시</option>
    <option value="279">구미시</option>
    <option value="281">영천시</option>
    <option value="283">경주시</option>
    <option value="288">밀양시</option>
  </select>
  <button id="recommendButton", type="button">추천 받기</button> <!-- 추천 받기 버튼 추가 -->
</nav>


<div class="container">
  <div class="button-container">
    <button class="side-button"><</button>
  </div>

  <div class="big-card">
    <div class="card-container" id="recommendationCardContainer">

    </div>
  </div>

  <div class="button-container">
    <button class="side-button">></button>
  </div>
</div>

</body>
</html>
